.card {
  max-width: 100%;
  display: block;
  padding: 2rem;
  overflow: visible;
  transition: opacity 0.26s ease-out;
  filter: drop-shadow(-0.5rem -0.625rem 2.875rem #0000005f);
  backdrop-filter: brightness(1.1) blur(0.125rem) url(#displacementFilter);
  -webkit-backdrop-filter: brightness(1.1) blur(0.125rem) url(#displacementFilter);
  position: relative;
  background:
    linear-gradient(to top, rgba(0, 0, 0, 0.35), transparent 60%),
    rgba(21, 21, 21, 0.50);
  box-shadow:
    inset 0 0 0 0.0625rem rgba(255, 255, 255, 0.08),
    inset 0 0.0625rem 0 rgba(255, 255, 255, 0.22);
  box-sizing: border-box;
  
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  text-align: left; 
}



.card__content {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  overflow: hidden;
}




.card--dark {
  background:
    linear-gradient(to top, rgba(0, 0, 0, 0.35), transparent 60%),
    rgba(21, 21, 21, 0.50);
}

.card--orange {
  background:
    linear-gradient(to top, rgba(64, 23, 9, 0.4), transparent 60%),
    rgba(92, 35, 10, 0.50);
}

.card--orange::after {
  background: linear-gradient(135deg, rgba(124, 45, 18, 0.611), rgba(92, 35, 10, 0.342), transparent 60%);
}

.card--purple {
  background:
    linear-gradient(to top, rgba(89, 28, 135, 0.496), transparent 60%),
    rgba(59, 13, 110, 0.50);
  filter: drop-shadow(-0.5rem -0.625rem 2.875rem #5b21b74d);
  border-color: #5b21b74d;
}

.card--purple::after {
  background: linear-gradient(135deg, rgba(88, 28, 135, 0.611), rgba(58, 13, 110, 0.571), transparent 60%);
}

.card--light {
  background:
    linear-gradient(to top, rgba(255, 255, 255, 0.1), transparent 60%),
    rgba(255, 255, 255, 0.15);
}

.card--light::after {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1), transparent 60%);
}


.card::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 0;
  overflow: hidden;
  border-radius: inherit;
  box-shadow:
    inset 0 0 0 0.0625rem rgba(255, 255, 255, 0.08),
    inset 0 0.0625rem 0 rgba(255, 255, 255, 0.22);
  pointer-events: none;
}

.card::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 0;
  border-radius: inherit;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.611), rgba(0, 0, 0, 0.342), transparent 60%);
  pointer-events: none;
}

.card__content {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  overflow: visible;
}